/* the styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*the website background color */
body {
    background-color: #d9dcd6;
}



header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*the location of the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/*the color of the header */
header h1 .seo {
    color: #d9dcd6;
}
/* the font and font size of the header as well as the margins*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


/* the color and any type of decorative fonts*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*size of the fond */
p {
    font-size: 16px;
}


/* the size locatiopn and border of the digital marketing meeting*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* how far left or right it floats*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}



main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


/*the benefits lications and type font */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* the benefit color and alignment*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* fonts size color family*/
.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* max size */
.service img {
    max-height: 200px;
}
/*size of the bottom margin */
.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/* footer size color font family*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
